.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;

}

.btn-quiz{
    padding: 2px 16px;
    width: 300px;

    margin: 10px;
    text-align: center;
    border-radius: 4px;

}
.btn-quiz:hover{
    padding: 2px 16px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: 700;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.score p{
    font-size: 30px;
    font-weight: bold;

}
.quiz-container p{
    font-size: 30px;
    font-weight: bold;
}

.score-section{
    height: 100vh;
    width: 100%;
	background-color: #f2eecb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/quiz-bg.jpg');
    background-repeat: no-repeat;
	background-position: center;    
    background-size: 100% 100%;
  overflow-x: hidden;

}

.question-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/quiz-bg.jpg');
    background-repeat: no-repeat;
	background-position: center;    
    background-size: 100% 100%;
  overflow-x: hidden;

   
}
.options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 5rem;
}
@media only screen and (max-width: 1024px) {
    .quiz-container p{
       text-align: center;
       margin: 10px;
    }
    .quiz-container{
        gap: 3.5rem;
    }
    .score p{
        text-align: center;
    }
    .options{
        display: flex;
        flex-direction: column;
    }
}