.team-section{
    height: 100vh;
    background: url('../assets/team-bg.jpg');
    background-repeat: no-repeat;
	background-position: center;  
    background-size: 100% 100%;  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    overflow-x: hidden;

}
.card-container{
    display: flex;
    gap: 1.5rem;
}
.team-title{
    word-spacing: 5px;
    letter-spacing: 10px;
    color: rgb(121, 93, 57);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 700;
}

.card {
    width: 190px;
    height: 254px;
    background: #f5f5f5;
    position: relative;
    border-radius: 16px;

    box-shadow: 0px 2px 5px rgba(35,35,35,0.3);
    transition: box-shadow .3s ease-in-out;
   }
   
   .card-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-emphasis-color: pink;
   }
   .profile img{
    width: 200px;
    height: auto;
    object-fit: cover;
   }
   /*Image*/
   .card-img {
    background: rgba(185, 174, 125, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(185, 174, 125, 0.3);
    height: 95%;
    width: 100%;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
   }
   
   /*Buttons*/
   .social-media {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    transform: translateY(-200%);
    z-index: 3;
   }
   
   .social-media li {
    background: #f5f5f5;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in;
   }
   
   /*Text*/
   .title1 {
    font-size: 1.5em;
    font-weight: 500;
    font-size: 18px;
   }
   
   .subtitle {
    letter-spacing: 1px;
    font-size: 0.9em;
   }
   
   ul {
    list-style: none;
   }
   
   svg {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    fill: #252525;
   }
   
   /* Hover */
   .card:hover {
    box-shadow: 1px 2px 10px rgba(35,35,35,0.5);
   }
   
   .card:hover .card-img {
    transform: translateY(-30%);
   }
   
   .card:hover .social-media li {
    transform: translateY(-5%);
    opacity: 1;
   }
   
   .card:hover .social-media li:nth-child(1) {
    transition-delay: 0s;
   }
   
   .card:hover .social-media li:nth-child(2) {
    transition-delay: .1s;
   }
   
   .card:hover .social-media li:nth-child(3) {
    transition-delay: .2s;
   }
   @media (max-width: 1024px) {
    .team-section{
        height: auto;
        padding: 100px;
    }
    .card-container{
       gap: 5rem;
       flex-direction: column;
    }
   }